body {
    background-color:#f0f0f0;
}
p, h1, h2 {
    color: black;
    
}
p {
    font-family: 'Titillium Web', sans-serif;
}
nav {
    background-color: #222222;
}
a.nav-link {
    color:white;
}
canvas{
    margin-top: 50px;
    background-color: #A9A9A9;
    outline: black 3px solid;
}
.btn-dark{
    margin-right: 10px;
}


/* Font replacements */
/*
.soleto-light {
	font-family: 'Titillium Web', sans-serif;
	font-weight: 300;
}

.soleto-regular {
	font-family: 'Titillium Web', sans-serif;
	font-weight: 400;
}

.soleto-medium {
	font-family: 'Titillium Web', sans-serif;
	font-weight: 600;
}

.soleto-bold {
	font-family: 'Titillium Web', sans-serif;
	font-weight: 700;
}

.soleto-xbold {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
}

color scheme 
.magenta {
	color: #DD0890;
}
.magenta-fill {
	background: #DD0890;
}
.ultraviolet {
	color: #4B0082;
}
.ultraviolet-fill {
	background: #4B0082;
}
.turqoisemint {
	color: #0DE1EC;
}
.turqoisemint-fill {
	background: #0DE1EC;
}
.ultramarine {
	color: #200C9C;
}
.ultramarine-fill {
	background: #200C9C;
}
.granitegray {
	color: #F0F0F0;
}
.granitegray-fill {
	background: #F0F0F0;
}
.granitegray-fill-50 {
	background: rgba(240, 240, 240, 0.5);
}
.coalgray {
	color: #222222;
}
.coalgray-fill {
	background: #222222;
}
.gray {
	color: #AAAAAA;
}
.gray-fill {
	background: #AAAAAA;
}
*/

